---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<h2>Journal articles</h2>

<ul>
<li>L. P. Corcos, R. I. Saye, and J. A. Sethian, 
  <i>A hybrid finite difference level set–implicit mesh discontinuous Galerkin method 
  for multi-layer coating flows</i>, Journal of Computational Physics, 507, 112960 (2024).
  <a href= "https://doi.org/10.1016/j.jcp.2024.112960">Link</a> &nbsp
  <a href="/_publications/1-s2.0-S0021999124002092-main.pdf"> <i class="fa-solid fa-file-pdf"></i> PDF</a>
 
</li>
  <li>AD Cimmarusti, Z Yan, BD Patterson, LP Corcos, LA Orozco, S Deffner,
  <i>Environment-assisted speed-up of the field evolution in cavity quantum electrodynamics</i>,
  Physical review letters 114 (23), 233602 (2015).
  <a href= "https://doi.org/10.1103/PhysRevLett.114.233602">Link</a> &nbsp
  <a href="/_publications/PhysRevLett.114.233602.pdf"> <i class="fa-solid fa-file-pdf"></i> PDF</a>
</ul>



<h2>Ph.D. Thesis</h2>
<i>A Hybrid Finite Difference Level Set–Implicit Mesh 
Discontinuous Galerkin Method for Multi-Layer Coating Flow Problems</i>, 
December 2024, University of California Berkeley. 
<a href= "https://www.proquest.com/openview/c3a45544f62d7185537acfaa0a4c7a4d/1?pq-origsite=gscholar&cbl=18750&diss=y">Link</a>&nbsp 
<a href="/_publications/CorcosPhdThesis.pdf"> <i class="fa-solid fa-file-pdf"></i>PDF</a>

















<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

-->

