---
layout: single
title: "Stock Blog"
permalink: /stocks/
author_profile: true
---

<p>I am an active stock trader and have independently researched the market since 2016.
<br>
My AAR since 2020 is 32%. </p>

{% include base_path %}

{% for post in site.posts %}
  {% if post.pinned%} 
  {% include archive-single.html %}
  {% endif%}
{% endfor %}

{% for post in site.posts %}
  {% unless post.pinned%} 
  {% include archive-single.html %}
  {% endunless%}
{% endfor %}

<!-- 

{% capture written_year %}'None'{% endcapture %} 
{% for post in site.posts %}
  
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year != written_year %}
     <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
     {% capture written_year %}{{ year }}{% endcapture %}
    {% endif %}

    {% include archive-single.html %}
 
{% endfor %}



-->

